@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Jost&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
}
