@font-face {
  font-family: 'Moderat';
  src: url('assets/fonts/Moderat-Mono-Medium.woff') format("woff");
}

@font-face {
  font-family: 'Bruno Ace';
  src: url('assets/fonts/BrunoAce-Regular.woff') format("woff");
}

.font-bruno {
  font-family: 'Bruno Ace', sans-serif;
}

.font-moderat {
  font-family: 'Moderat', sans-serif;
}
